.sliderimg{
	position: relative;
	width: 112.4%;
        margin-left: -80px;
	height: 650px;
	background-image: url('../img/banner06.jpg');
	background-size: 100% 150%;
	background-repeat: no-repeat;
	animation-name: sample;
	animation-duration: 50s;
	animation-iteration-count: infinite;
        
        overflow:hidden;
}

@keyframes sample{
	25%{
		background-image: url('../img/banner02.jpg');
	}

	50%{
		background-image: url('../img/banner03.jpg');
	}

	75%{
		background-image: url('../img/banner04.jpg');
	}
}